.nav{
  grid-area: n;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.item{
  color: #F6F6F6;
  text-decoration: none;
  font-size: 25px;
}
.item:hover{
  opacity: .86;
}
.active{
  color: #6D9886;
  text-decoration: none;
  font-size: 25px;
}
.friendList{
  width: 200px;
  margin-top: 20px;
  margin-right: 40px;
}